@model WebApplication_Stomatologiya.Models.Sahifa
@using WebApplication_Stomatologiya.Models
<section>
    <div class="modal-body">
        <div class="loginf_module">
            <div class="module form-module">
                <div class="toggle">
                    <i class="fa fa-times fa-pencil"></i>

                </div>
                <div class="form">

                    <p style="color: red; text-align: center">@ViewBag.habar</p>
                    <form action="/IshVaqti/Change" method="post">
                        <input type="text" name="DoktorId" value="@ViewBag.Id" placeholder="Kelish vaqti" required="" hidden="hidden">                       
                         <input type="text" name="KunId" value="@ViewBag.KunId" placeholder="Kelish vaqti" required="" hidden="hidden">
                        <input type="text" name="KelishV" value="@ViewBag.kelv" placeholder="Kelish vaqti" required="">
                        <input type="text" name="KetishV" value="@ViewBag.ketv" placeholder="Ketish vaqti" required="">
                       
                        <input type="submit" value="Saqlash">
                    </form>

                </div>


            </div>
        </div>
    </div>
</section>