@model WebApplication_Stomatologiya.Models.Yangilik

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Yangilik</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Stomatologiya.Nomi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Stomatologiya.Nomi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rasm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rasm)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mavzu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mavzu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Batafsil)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Batafsil)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vaqti)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vaqti)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Holati)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Holati)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
