@model WebApplication_Stomatologiya.Models.Sahifa
@using WebApplication_Stomatologiya.Models

@{
    ViewBag.Title = "Sozlamalar";
}


@foreach (Stomatologiya s in Model.Stomatologiya)
{
    <section>
        <div class="modal-body">
            <div class="loginf_module">
                <div class="module form-module">
                    <div class="toggle">
                        <i class="fa fa-times fa-pencil"></i>

                    </div>
                    <div class="form">
                        <h3 style="text-align:center">Stomotologiya</h3>
                        <p style="color: red; text-align: center"></p>
                        <form action="/Admin/Sozlamalar" method="post" enctype="multipart/form-data">
                            <label>Nomi</label><br />
                            <input type="text" name="Nomi" placeholder="Nomi" required="" value="@s.Nomi">
                            <label>Manzil</label><br />
                            <input type="text" name="Manzil" placeholder="Manzil" required="" value="@s.Manzil">
                            <label>Telefon nomer</label><br />
                            <input type="text" name="TelN" placeholder="Tel Nomeri" required="" value="@s.TelNomer">

                            <label>Logini</label><br />
                            <input type="text" name="Login" placeholder="Login" required="" value="@s.Userlar.Logini">
                            <label>Parol</label><br />
                            <input type="text" name="Parol" placeholder="Parol" required="" value="@s.Userlar.Paroli">
                            <input type="text" name="UsId" placeholder="Parol" required="" value="@s.UserlarId" hidden="hidden">
                            <input type="text" name="Id" placeholder="Parol" required="" value="@s.Id" hidden="hidden">

                            <input type="submit" value="Saqlash">
                        </form>

                    </div>


                </div>
            </div>
        </div>
    </section>
}