@model IEnumerable<WebApplication_Stomatologiya.Models.DoktorVaqti>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Bemor.Familya)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Doktor.Familya)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sanasi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.vaqti)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.holati)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Bemor.Familya)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Doktor.Familya)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sanasi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.vaqti)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.holati)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
