<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="/web/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all">
    <link href="/web/css/fontawesome-all.min.css" rel="stylesheet" type="text/css" media="all">
    <link href="/web/css/easy-responsive-tabs.css" rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="/web/css/flexslider.css" type="text/css" media="all">
    <link rel="stylesheet" type="text/css" href="/web/css/style_common.css" />
    <link rel="stylesheet" type="text/css" href="/web/css/style1.css" />
    <link href="/web/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link rel="stylesheet" type="text/css" href="/web/css/stostyle.css" />
    <link href="http://fonts.googleapis.com/css?family=Roboto:400,500,700,900" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800" rel="stylesheet">
</head>
<body>
    @*<div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
            </div>
        </div>
    </div>*@
    <script src='../ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js'></script>
    <script src="../m.servedby-buysellads.com/monetization.js" type="text/javascript"></script>
    <script>
        (function () {
            if (typeof _bsa !== 'undefined' && _bsa) {
                // format, zoneKey, segment:value, options
                _bsa.init('flexbar', 'CKYI627U', 'placement:w3layoutscom');
            }
        })();
    </script>
    <script>
        (function () {
            if (typeof _bsa !== 'undefined' && _bsa) {
                // format, zoneKey, segment:value, options
                _bsa.init('fancybar', 'CKYDL2JN', 'placement:demo');
            }
        })();
    </script>
    <script>
        (function () {
            if (typeof _bsa !== 'undefined' && _bsa) {
                // format, zoneKey, segment:value, options
                _bsa.init('stickybox', 'CKYI653J', 'placement:w3layoutscom');
            }
        })();
    </script>
    <script>
        (function (v, d, o, ai) { ai = d.createElement("script"); ai.defer = true; ai.async = true; ai.src = v.location.protocol + o; d.head.appendChild(ai); })(window, document, "../vdo.ai/core/w3layouts/vdo.ai.js");
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-125810435-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-125810435-1');
    </script>
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '../www.google-analytics.com/analytics.js', 'ga');
        ga('create', 'UA-30027142-1', 'w3layouts.com');
        ga('send', 'pageview');
    </script>
    <body>
        <header>
            <!-- header -->
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand" href="/Home/Index">Bosh sahifa</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                       
                        <li class="nav-item">
                            <a class="nav-link" href="/Home/About">Sayt haqida</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Home/Contact">Aloqa</a>
                        </li>
                        
                       
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a class="nav-link" href="/Stomatologiya/Index">Stomatologiya</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/Doktor/Index">Doktorlar</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link " href="/Home/Logoff">Logout</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " href="/Home/Enter"><img style="border-radius:15px;" src="/web/images/im.jpg" width="30" height="30" />&nbsp;&nbsp; @(User.Identity.IsAuthenticated ? HttpContext.Current.User.Identity.Name : "")</a>

                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link " href="/Home/Register">Registratsiya</a>
                            </li>
                            <li class="w3"><a href="#" class="nav-link" data-toggle="modal" data-target="#myModal">Login</a></li>

                        }

                    </ul>

                    </ul>

            </nav>



            <!-- //header -->
            <!-- banner -->
            <!-- banner-slider -->
            <div class="w3l_banner_info">
                <div class="slider">
                    <div class="callbacks_container">
                        <ul class="rslides" id="slider3">
                            <li style="height:170px;">
                                <div class="slider-img">
                                    <div class="slider_banner_info">
                                        <div class="text">
                                            <h3 class="word wisteria" style="margin-top:30px;">Stomatologiya.uz </h3>

                                        </div>

                                    </div>
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
            <!-- //banner-slider -->
            </div>
            <!---728x90--->

        </header>
        <div class="container body-content">
            @RenderBody()
            
        </div>

        <section class="footer">
            <div class="container">
                <h3> www.Stomatologiya.uz</h3>
                <div class="wrapper">
                    <ul class="social-icons icon-circle icon-zoom list-unstyled list-inline">
                        <li> <a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li> <a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li> <a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                    </ul>
                </div>
                <div class="copyright">                   
                    <p>http://t.me/StomatologiyaUzBot saytning rasmiy telegram boti </p>


                </div>
            </div>
        </section>
        <!-- /Footer-->
        <!-- bootstrap-pop-up for login and register -->
        <div class="modal video-modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        www.Stomatologiya.uz
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <section>
                        <div class="modal-body">
                            <div class="loginf_module">
                                <div class="module form-module">
                                    <div class="toggle">
                                        <i class="fa fa-times fa-pencil"></i>
                                        @*<div class="tooltip">Register</div>*@
                                    </div>
                                    <div class="form">
                                        <h3>Login va parolingiz!!</h3>
                                        <form action="/Home/Krish" method="post">
                                            <input type="text" name="Login" placeholder="Login" required="">
                                            <input type="text" name="Parol" placeholder="Parol" required="">
                                            <input type="submit" value="Kirish">
                                        </form>
                                        
                                    </div>
                                    @*<div class="form">
                                        <h3>Create a new account</h3>
                                        <form action="#" method="post">
                                            <input type="text" name="Username" placeholder="Username" required="">
                                            <input type="password" name="Password" placeholder="Password" required="">
                                            <input type="email" name="Email" placeholder="Email address" required="">
                                            <input type="text" name="Phone" placeholder="Phone Number" required="">
                                            <input type="submit" value="Register">
                                        </form>
                                    </div>*@

                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
        <!-- //bootstrap-pop-up for login and register-->

        <script src="/web/js/jquery.min.v3.js"></script>
        <script src="/web/js/bootstrap.min.js"></script>
        <script src="/web/js/move-top.js"></script>
        <script src="/web/js/easing.js"></script>
        <script src="/web/js/SmoothScroll.min.js"></script>

        <!-- banner Slider -->
        <script src="/web/js/responsiveslides.min.js"></script>
        <script>
            // You can also use "$(window).load(function() {"
            $(function () {
                // Slideshow 4
                $("#slider3").responsiveSlides({
                    auto: true,
                    pager: true,
                    nav: false,
                    speed: 500,
                    namespace: "callbacks",
                    before: function () {
                        $('.events').append("<li>before event fired.</li>");
                    },
                    after: function () {
                        $('.events').append("<li>after event fired.</li>");
                    }
                });

            });
        </script>
        <!-- //banner Slider -->


        <script src="/web/js/easy-responsive-tabs.js"></script>
        <script>
            $(document).ready(function () {
                $('#horizontalTab').easyResponsiveTabs({
                    type: 'default', //Types: default, vertical, accordion
                    width: 'auto', //auto or any width like 600px
                    fit: true,   // 100% fit in a container
                    closed: 'accordion', // Start closed if in accordion view
                    activate: function (event) { // Callback function if tab is switched
                        var $tab = $(this);
                        var $info = $('#tabInfo');
                        var $name = $('span', $info);
                        $name.text($tab.text());
                        $info.show();
                    }
                });
                $('#verticalTab').easyResponsiveTabs({
                    type: 'vertical',
                    width: 'auto',
                    fit: true
                });
            });
        </script>
        <!--//tabs-->
        <!--team-->
        <script type="text/javascript">
            $(window).load(function () {
                $("#flexiselDemo1").flexisel({
                    visibleItems: 4,
                    animationSpeed: 1000,
                    autoPlay: true,
                    autoPlaySpeed: 3000,
                    pauseOnHover: true,
                    enableResponsiveBreakpoints: true,
                    responsiveBreakpoints: {
                        portrait: {
                            changePoint: 480,
                            visibleItems: 1
                        },
                        landscape: {
                            changePoint: 640,
                            visibleItems: 2
                        },
                        tablet: {
                            changePoint: 768,
                            visibleItems: 3
                        }
                    }
                });

            });
        </script>
        <script type="text/javascript" src="/web/js/jquery.flexisel.js"></script>

        <!--team-->
        <script src="js/jquery.magnific-popup.js" type="text/javascript"></script>
        <script>
            $(document).ready(function () {
                $('.popup-with-zoom-anim').magnificPopup({
                    type: 'inline',
                    fixedContentPos: false,
                    fixedBgPos: true,
                    overflowY: 'auto',
                    closeBtnInside: true,
                    preloader: false,
                    midClick: true,
                    removalDelay: 300,
                    mainClass: 'my-mfp-zoom-in'
                });

            });
        </script>
        <script type="text/javascript">
            var words = document.getElementsByClassName('word');
            var wordArray = [];
            var currentWord = 0;

            words[currentWord].style.opacity = 1;
            for (var i = 0; i < words.length; i++) {
                splitLetters(words[i]);
            }

            function changeWord() {
                var cw = wordArray[currentWord];
                var nw = currentWord == words.length - 1 ? wordArray[0] : wordArray[currentWord + 1];
                for (var i = 0; i < cw.length; i++) {
                    animateLetterOut(cw, i);
                }

                for (var i = 0; i < nw.length; i++) {
                    nw[i].className = 'letter behind';
                    nw[0].parentElement.style.opacity = 1;
                    animateLetterIn(nw, i);
                }

                currentWord = (currentWord == wordArray.length - 1) ? 0 : currentWord + 1;
            }

            function animateLetterOut(cw, i) {
                setTimeout(function () {
                    cw[i].className = 'letter out';
                }, i * 80);
            }

            function animateLetterIn(nw, i) {
                setTimeout(function () {
                    nw[i].className = 'letter in';
                }, 340 + (i * 80));
            }

            function splitLetters(word) {
                var content = word.innerHTML;
                word.innerHTML = '';
                var letters = [];
                for (var i = 0; i < content.length; i++) {
                    var letter = document.createElement('span');
                    letter.className = 'letter';
                    letter.innerHTML = content.charAt(i);
                    word.appendChild(letter);
                    letters.push(letter);
                }

                wordArray.push(letters);
            }

            changeWord();
            setInterval(changeWord, 4000);

        </script>

        <!-- stats -->
        <script src="/web/js/jquery.waypoints.min.js"></script>
        <script src="/web/js/jquery.countup.js"></script>
        <script>
            $('.counter').countUp();
        </script>
        <!-- //stats -->
        <!-- skills -->
        <script src="/web/js/skill.bars.jquery.js"></script>
        <script>
            $(document).ready(function () {

                $('.skillbar').skillBars({
                    from: 0,
                    speed: 4000,
                    interval: 100,
                    decimals: 0,
                });

            });
        </script>
        <!-- //skills -->
        <!-- sign in and signup pop up toggle script -->
        <script>
            $('.toggle').click(function () {
                // Switches the Icon
                $(this).children('i').toggleClass('fa-pencil');
                // Switches the forms
                $('.form').animate({
                    height: "toggle",
                    'padding-top': 'toggle',
                    'padding-bottom': 'toggle',
                    opacity: "toggle"
                }, "slow");
            });
        </script>
        <!-- sign in and signup pop up toggle script -->
        <script type="text/javascript">
            var slideIndex = 1;
            showSlides(slideIndex);

            function plusSlides(n) {
                showSlides(slideIndex += n);
            }

            function currentSlide(n) {
                showSlides(slideIndex = n);
            }

            function showSlides(n) {
                var i;
                var slides = document.getElementsByClassName("mySlides");
                var dots = document.getElementsByClassName("dot");
                if (n > slides.length) { slideIndex = 1 }
                if (n < 1) { slideIndex = slides.length }
                for (i = 0; i < slides.length; i++) {
                    slides[i].style.display = "none";
                }
                for (i = 0; i < dots.length; i++) {
                    dots[i].className = dots[i].className.replace(" active", "");
                }
                slides[slideIndex - 1].style.display = "block";
                dots[slideIndex - 1].className += " active";
            }
        </script>
        <!-- start-smoth-scrolling -->
        <!-- here stars scrolling icon -->
        <script type="text/javascript">
            $(document).ready(function () {
                /*
                    var defaults = {
                    containerID: 'toTop', // fading element id
                    containerHoverID: 'toTopHover', // fading element hover id
                    scrollSpeed: 1200,
                    easingType: 'linear'
                    };
                */

                $().UItoTop({ easingType: 'easeOutQuart' });

            });
        </script>
        <!-- //here ends scrolling icon -->
        <!-- scrolling script -->
        <script type="text/javascript">
            jQuery(document).ready(function ($) {
                $(".scroll").click(function (event) {
                    event.preventDefault();
                    $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
                });
            });
        </script>
        <script type="text/javascript">
            $(function () {
                $('[data-toggle="popover"]').popover()
            })
        </script>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </body>
</html>
