@model WebApplication_Stomatologiya.Models.Xulosa

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Xulosa</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.KorikId, "KorikId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("KorikId", String.Empty)
                @Html.ValidationMessageFor(model => model.KorikId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Summa, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Summa)
                @Html.ValidationMessageFor(model => model.Summa)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Vaqt, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Vaqt)
                @Html.ValidationMessageFor(model => model.Vaqt)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
