@model WebApplication_Stomatologiya.Models.Bemor

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Bemor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Userlar.Logini)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Userlar.Logini)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Familya)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Familya)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ism)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ism)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sharif)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sharif)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TugVaqti)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TugVaqti)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PasSeria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PasSeria)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PasNomer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PasNomer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KimTomBer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KimTomBer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.YashManzil)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YashManzil)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TelNomer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TelNomer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EskiKasallari)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EskiKasallari)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
