@model IEnumerable<WebApplication_Stomatologiya.Models.Bemor>

@{
    ViewBag.Title = "Index";
}


<table class="table">
    <tr>
        
        <th>
            @Html.DisplayNameFor(model => model.Familya)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ism)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sharif)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TugVaqti)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PasSeria)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PasNomer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KimTomBer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.YashManzil)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TelNomer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EskiKasallari)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
       
        <td>
            @Html.DisplayFor(modelItem => item.Familya)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ism)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sharif)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TugVaqti)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PasSeria)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PasNomer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KimTomBer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.YashManzil)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TelNomer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EskiKasallari)
        </td>
       
    </tr>
}

</table>
